.sideBar {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  width: 240px;
  height: 300px;
  font-family: 'Skia', 'Open Sans', arial, sans;
  display: inline-block;
  float: left;
}

.sideBar h4 {
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: bold;
  font-size: 20px;
  color: #3A3A3A;
  background-color: #B0C07B;
}

.sideBar p {
  margin-top: 0px;
  padding: 10px; 
  font-size: 14px;
  background-color: #D4DDB8;
  font-family: "Avenir", 'Open Sans' ;
}



.price {
  display: inline-block;
  background-color: #D4DDB8;
  margin-left: 5px;
  }

.price p {
  float: left;
  margin-bottom: -5px;

}

.price input {
  float: right;
  margin-bottom: -5px;
}

.back {
    background-color: #D4DDB8;
    margin-top: -10px;
    padding-top: 20px;
}

.line {
  background-color: white;
  width: 240px;
  height: 100px;
  border: none;
  margin-bottom: 50px;

}

.center {
  width: 80px;
  margin-left: 80px;
  margin-bottom: 20px;

}



.unclicked {
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: -10px;
  font-size: 15px;
  background-color: #D4DDB8;
  font-family:  "Avenir", 'Open Sans';
  width: 240px;
  text-align: left;
}

.clicked {
  background-color: #8C9F4C;
  font-weight: bolder;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: -10px;
  font-size: 15px;
  font-family:  "Avenir", 'Open Sans';
  width: 240px;
  text-align: left;
}

.unclicked:hover {
  background-color: #E0E6CB;
}

.clearButton {
    background-color: white;
    font-weight: bolder;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: -5px;
  font-size: 15px;
  font-family:  "Avenir", 'Open Sans';
  width: 240px;
  text-align: left;
  border: none;
}


